/* MESSAGES & ERRORS (somewhat borrowed from django's admin/css/base.css) */
ul.messagelist
{
	padding: 5px 0 5px 0;
	margin: 0;
}

ul.messagelist li
{
	font-size: 12px;
	display: block;
	padding: 4px 5px 4px 25px;
	margin: 0 0 3px 0;
	border-bottom: 1px solid #ddd;
	color: #666;
}

ul.messagelist li.debug
{
	background: #ffc url(/static/img/mbd_message_debug.png) 5px .3em no-repeat;
	color: blue;
}

ul.messagelist li.info
{
	background: #ffc url(/static/img/mbd_message_info.png) 5px .3em no-repeat;
	color: green;
}

ul.messagelist li.warning
{
	background: #ffc url(/static/img/mbd_message_warning.png) 5px .3em no-repeat;
	color: purple;
}

ul.messagelist li.error
{
	background: #ffc url(/static/img/mbd_message_error.png) 5px .3em no-repeat;
	color: red;
}
