# Python
/build/
/.pybuild/
/src/mini_buildd/__init__.py
*.pyc

# Debian package
/src/mini_buildd.egg-info/
/debian/tmp/*
/debian/python3-mini-buildd/*
/debian/mini-buildd/*
/debian/mini-buildd-common/*
/debian/*mini-buildd*.*.debhelper
/debian/*mini-buildd*.debhelper.log
/debian/*mini-buildd*.substvars
/debian/files
/debian/.debhelper
/debian/debhelper-build-stamp
