{% load i18n %}
{% load mini_buildd_tags %}

<label title="{{ arg.identity }}: {{ arg.doc }}">
	{% if show_label %}<em>{{ arg.identity }}</em>{% endif %}

	{% if arg.TYPE == "string" %}
		<input type="text" size="15" value="{{ arg.value|default:"" }}" name="{{ arg.identity }}" />
	{% elif arg.TYPE == "url" %}
		<input type="url" value="{{ arg.value|default:"" }}" name="{{ arg.identity }}" />
	{% elif arg.TYPE == "text" %}
		<textarea cols="80" rows="10" name="{{ arg.identity }}">{{ arg.value|default:"" }}</textarea>
	{% elif arg.TYPE == "int" %}
		<input type="text" size="5" value="{{ arg.value|default:0 }}" name="{{ arg.identity }}" />
	{% elif arg.TYPE == "bool" %}
		<input type="checkbox" value="True" {% if arg.value %}checked{% endif %} name="{{ arg.identity }}" />
	{% elif arg.TYPE == "select" %}
		<input type="text" list="{{ tag_id }}-{{ arg.identity }}-datalist" size="15" value="{{ arg.value|default:"" }}" name="{{ arg.identity }}" />
		<datalist id="{{ tag_id }}-{{ arg.identity }}-datalist">
			{% for choice in arg.choices %}
				<option value="{{ choice }}" />
			{% endfor %}
		</datalist>
	{% elif arg.TYPE == "multiselect" %}
		{% if arg.choices %}
			<input id="{{ tag_id }}-{{ arg.identity }}-regexfilter"
						 type="text"
						 size="15"
						 title="Bulk-select {{ arg.identity }} via regex"
						 onchange="mbdSelectByRegex('{{ tag_id }}-{{ arg.identity }}-regexfilter-target', '{{ tag_id }}-{{ arg.identity }}-regexfilter')"/>
			<br />
			<select id="{{ tag_id }}-{{ arg.identity }}-regexfilter-target" multiple="multiple" name="{{ arg.identity }}">
				{% for choice in arg.choices %}
					<option {% if choice in arg.value %}selected{% endif %}>{{ choice }}</option>
				{% endfor %}
			</select>
			<br />
		{% endif %}
		<input type="text" value="{% if arg.raw_value is None or arg.raw_value in arg.choices %}{% else %}{{ arg.raw_value }}{% endif %}" size="15" name="{{ arg.identity }}" />
	{% else %}
		{{ arg.identity }}: Internal error: Unkown argument type {{ arg.TYPE }}.
	{% endif %}

	{% if show_doc %}<pre>{{ arg.doc }}</pre>{% endif %}
</label>
