{% load i18n %}
{% load mini_buildd_tags %}

<tr>
	{% for model in app.models %}
		{% if model.name == model_name %}
			<th scope="row" {% if model.perms.change %}class="overview">
				<a href="{{ model.admin_url }}">{{ model.name }}</a>{% else %}>{{ model.name }}{% endif %}
			</th>
			<td class="right">
				<!-- Support up to three wizards (repeated three times, found no good way yet to do this more nicely) -->
				{% if wiz0_function %}
					{% mbd_api "meta" name=wiz0_name output="referer" title=wiz0_title value_model=model_path value_function=wiz0_function %}
				{% endif %}

				{% if wiz1_function %}
					{% mbd_api "meta" name=wiz1_name output="referer" title=wiz1_title value_model=model_path value_function=wiz1_function %}
				{% endif %}

				{% if wiz2_function %}
					{% mbd_api "meta" name=wiz2_name output="referer" title=wiz2_title value_model=model_path value_function=wiz2_function %}
				{% endif %}

				&nbsp;&nbsp;
				{% if not hide_add and model.perms.add %}
					<a href="{{ model.admin_url }}add/" class="addlink mbd-addlink">{% trans 'Add' %}</a>
				{% endif %}
				{% if model.perms.change %}
					<a href="{{ model.admin_url }}" class="changelink mbd-changelink">{% trans 'Change' %}</a>
				{% endif %}

			</td>
			<td>
				{% mbd_model_count model_path %}
			</td>
		{% endif %}
	{% endfor %}
</tr>
