{% load i18n %}
{% load mini_buildd_tags %}

<form action="/mini_buildd/api" method="get">
	<input type="hidden" name="command" value="{{ api_cmd.COMMAND }}" />
	<input type="submit" value="{{ api_cmd.COMMAND }}" title="Run API command {{ api_cmd.COMMAND }}" style="" />

	(<a id="{{ tag_id }}-header"
			href="#"
			onclick="javascript:mbdToggleElement('{{ tag_id }}-parameter','{{ tag_id }}-header','hide parameter','show parameter')">show parameter</a>)

	<div id="{{ tag_id }}-parameter" style="display: none;">
		<select name="output" title="Output type">
			<option value="html" selected="selected">html</option>
			<option value="plain">plain</option>
			<option value="python">python</option>
		</select>

		{% for k, v in api_cmd.args.items %}
		<p>
			{% with help=api_cmd.args_help|mbd_dict_get:k %}
			<kbd>{{ k }}</kbd>=<input type="text" size="{{ v | length}}" name="{{ k }}" value="{{ v }}" />
			<kbd><small>{{ help }}</small></kbd>
			{% endwith %}
		</p>
		{% endfor %}
	</div>
</form>
