{% load i18n %}
{% load staticfiles %}
{% load mini_buildd_tags %}

{# <form action="/mini_buildd/api" method="post">{% csrf_token %}  # if we would support post... #}
<form action="/mini_buildd/api" method="get">
	<input type="hidden" name="command" value="{{ api_cmd.COMMAND }}" />

	{# Pre-button args #}
	{% for arg in api_cmd.args.values %}
		{% if arg.given %}
			{# Fixed hidden values #}
			{% include "includes/mbd_api_call_param.html" with hidden=True %}
		{% elif arg.raw_value is None %}
			{# Mandatory input #}
			{% include "includes/mbd_api_call_param.html" with show_label=False show_doc=False %}
		{% endif %}
	{% endfor %}

	{# Submit button #}
	<input type="submit"
				 class="{{ style }}"
				 value="{{ name|default_if_none:api_cmd.COMMAND }}"
				 title="{% if auth_err %}{{ auth_err }}{% else %}{{ title|default_if_none:api_cmd.docstring }}{% endif %}"
				 {% if auth_err %}disabled{% endif %} />

	{% if show_more %}
		<!-- Extra parameters, swap show/hide -->
		<a id="{{ tag_id }}-header"
			 href="#"
			 onclick="javascript:mbdToggleElement('{{ tag_id }}-parameter','{{ tag_id }}-header',
			 '<img src={% static "img/mbd_params_hide.png" %} alt=Less title=Less />',
			 '<img src={% static "img/mbd_params_show.png" %} alt=More title=More />')"><img src={% static "img/mbd_params_show.png" %} alt="More" title="More" /></a>

		<div id="{{ tag_id }}-parameter" style="display: none;">

			{% if show_doc %}<pre>{{ api_cmd.docstring }}</pre>{% endif %}

			<!-- Optional parameters, presented on demand only -->
			{% for arg in api_cmd.args.values %}
				{% if not arg.given and not arg.raw_value is None %}
					{% include "includes/mbd_api_call_param.html" with show_label=True %}
					<br />
				{% endif %}
			{% endfor %}
			<br />
			<select name="output" title="Output type">
				<option value="html" selected="selected">html</option>
				<option value="plain">plain</option>
				<option value="python">python</option>
			</select>
		</div>
	{% endif %}
</form>
