<table class="status table">
	<tr>
		<th>Started</th>
		<th>Package</th>
		<th>Distribution</th>
		<th>Version</th>
		<th>Architecture</th>
		<th title="in seconds">Took</th>
		<th>Upload to</th>
		<th colspan="2">Status</th>
	</tr>
	{% for b in builds %}
		<tr>
			<td class="status nowrap smaller">{{ b.started|date:"r" }}</td>
			<td class="status nowrap">{{ b.package }}</td>
			<td class="status nowrap">{{ b.distribution }}</td>
			<td class="status nowrap">{{ b.version }}</td>
			<td class="status nowrap">
				<a class="status hover-underline"
					 href="{{ b.live_buildlog_url }}"
					 title="{{ b.architecture }} build: Live build log">
					{{ b.architecture }}
				</a>
			</td>
			<td class="status nowrap">{{ b.took }}</td>
			<td class="status nowrap" title="Uploaded on: {{ b.uploaded|date:"r" }}">{{ b.upload_result_to }}</td>
			<td class="status nowrap {{ b.status }}">{{ b.status }}</td>
			<td class="status DESCRIPTION smaller">{{ b.status_desc }}</td>
		</tr>
	{% endfor %}
</table>
