{% load i18n %}
{% load staticfiles %}
{% load mini_buildd_tags %}

<div class="mbd-api-box">
	{# <form action="/mini_buildd/api" method="post">{% csrf_token %}  # if we would support post... #}
	<form action="/mini_buildd/api" method="get">
		<input type="hidden" name="command" value="{{ api_cmd.COMMAND }}" />

		<details class="mbd-api">
			<summary title="More arguments">&#8203;</summary>
			{% if show_doc %}<pre>{{ api_cmd.docstring }}</pre>{% endif %}

			<!-- Optional parameters, presented on demand only -->
			{% for arg in api_cmd.args.values %}
				{% if arg.raw_value is not None %}
					{% include "includes/mbd_api_arg.html" with show_label=True %}
					<br />
				{% endif %}
			{% endfor %}
			<select name="output" title="Output type">
				{% with "referer html plain python" as options %}
					{% for o in options.split %}
						<option value="{{ o }}" {% if o == output %}selected="selected"{% endif %}>{{ o }}</option>
					{% endfor %}
				{% endwith %}
			</select>
		</details>

		{# Pre-button args #}
		{% for arg in api_cmd.args.values %}
			{% if arg.raw_value is None %}
				{# Mandatory input #}
				{% include "includes/mbd_api_arg.html" with show_label=False show_doc=False %}
			{% endif %}
		{% endfor %}

		{# Submit button #}
		<input type="submit"
					 class="mbd-api mbd-api-{{ api_cmd.COMMAND }}"
					 value="{{ name|default_if_none:api_cmd.COMMAND }}"
					 title="{% if auth_err %}{{ auth_err }}&#13;&#10;&#13;&#10;{% endif %}{{ title|default_if_none:api_cmd.docstring }}"
					 {% if auth_err %}disabled{% endif %} />
	</form>
</div>
