{% extends "registration/base.html" %}
{% load mini_buildd_tags %}

{% block title %}Manage your profile{% endblock %}

{% block reg_content %}
	<h3>Package subscriptions</h3>

	<p>
		<em>Note:</em> You can manage package-specific subscriptions
		when viewing a source package's overview ("show").
	</p>
	<p>
		{% mbd_api "subscription" user value_subscription=":" output=referer %}
	</p>
	<hr/>

	<h3>Package uploads</h3>
	<p>
		Status: <kbd class="status {{ user.uploader.get_status_display }}">{{ user.uploader|default:"ERROR: User has no uploader config. Please contact administrator." }}</kbd>
	</p>

	<p>
		<em>Note:</em> Setting a new key will <em>automatically
		deactivate your uploader profile</em>; an administrator
		needs to (verify your key and) manually re-activate you
		later.
	</p>
	{% mbd_api "setuserkey" user value_key=user.uploader.key output=referer %}
{% endblock %}
