{% extends "mini_buildd/api.html" %}
{% load mini_buildd_tags %}

{% block page_title %}API Index{% endblock %}
{% block page_sub_title %}API usage reference{% endblock %}

{% block content %}
	<div id="mbd-api">
		<p>
			See also <kbd><b>? mini-buildd-tool --help</b></kbd> on the command line.
		</p>
		{% for name, cmd in COMMANDS %}
			{% if name == COMMAND_GROUP %}
				<h1>{{ cmd }}</h1>
			{% else %}
				<div style="border-style: solid; border-width: thin;">
					{% mbd_api name user %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
