{% extends "base.html" %}
{% load mini_buildd_tags %}

{% block page_header %}
	<div class="left">
		<div class="menu-title">
			Page
		</div>
		{% if api_cmd.args.package %}
			{% with api_cmd.args.package as package %}
				<a href="/mini_buildd/api?command=show&amp;package={{ package|urlencode }}" title="Show {{ package }} source package">Show package</a>
				<br />
				<a href="https://tracker.debian.org/pkg/{{ package|urlencode }}" title="Show {{ package }} source package in the Debian Package Tracker">Show Debian</a>
				(<a href="http://packages.qa.debian.org/common/index.html?src={{ package|urlencode }}" title="Show {{ package }} source package in the (traditional) Debian PTS">Old</a>)
				<br />
			{% endwith %}
		{% endif %}
		{% if api_cmd %}
			<hr />
			<a href="/mini_buildd/api?command={{ api_cmd.COMMAND|urlencode }}&amp;{% for k, v in api_cmd.args.items %}{{ k|urlencode }}={{ v|urlencode }}&amp;{% endfor %}output=plain" title="This API call with plain output">API: plain</a>
			<br />
			<a href="/mini_buildd/api?command={{ api_cmd.COMMAND|urlencode }}&amp;{% for k, v in api_cmd.args.items %}{{ k|urlencode }}={{ v|urlencode }}&amp;{% endfor %}output=python" title="This API call with python output">API: python</a>
			<br />
		{% endif %}
	</div>
	<div class="center">
		<div class="title">{% block page_title %}{% endblock %}</div><div class="sub-title">{% block page_sub_title %}{% endblock %}</div>
	</div>
	<div class="right">
		<div class="menu-title">
			Packages
		</div>
		{% mbd_api_call "show" user %}
		{% mbd_api_call "list" user %}
	</div>
{% endblock %}
