#!/usr/bin/make -f

%:
	dh $@ --with=python3,sphinxdoc,bash-completion --buildsystem=pybuild --fail-missing

ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
override_dh_auto_test:
	dh_auto_test
	./devel pydoctests
endif

override_dh_fixperms:
	dh_fixperms
	chmod 440 debian/mini-buildd/etc/sudoers.d/mini-buildd-sudoers

override_dh_auto_build:
	dh_auto_build
	/usr/share/sphinx/scripts/python3/sphinx-build -N -bhtml ./doc/ ./build/sphinx/html/
